<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fil.itermtabswitcher</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>74ECA39D-12D3-4CD6-B2BD-73D61B3C0E16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D9CD256-8657-4FEB-89F1-28522DFAD7A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fil</string>
	<key>description</key>
	<string>Search open iTerm2 tabs by title and bring the matching window/tab to the front.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>iTerm Tab Switcher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>itw</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching iTerm tabs...</string>
				<key>script</key>
				<string>#!/bin/bash
# Alfred Script Filter: list open iTerm2 tabs matching the query.
# AppleScript (not JXA) because JXA can't bridge iTerm2's "variable named"
# command (used below to read the tab's current directory).
osascript - "$1" &lt;&lt;'APPLESCRIPT'
on escapeJSON(txt)
	set txt to my replaceText(txt, "\\", "\\\\")
	set txt to my replaceText(txt, "\"", "\\\"")
	return txt
end escapeJSON

on replaceText(theText, searchStr, replaceStr)
	set {tid, AppleScript's text item delimiters} to {AppleScript's text item delimiters, searchStr}
	set theItems to text items of theText
	set AppleScript's text item delimiters to replaceStr
	set theText to theItems as text
	set AppleScript's text item delimiters to tid
	return theText
end replaceText

on run argv
	set query to ""
	if (count of argv) &gt; 0 then set query to item 1 of argv

	set itemsJSON to {}
	tell application "iTerm2"
		set wIdx to 0
		repeat with w in windows
			set wIdx to wIdx + 1
			set wid to id of w
			set tIdx to 0
			repeat with t in tabs of w
				set tIdx to tIdx + 1
				set sName to ""
				set sPath to ""
				try
					tell current session of t
						set sName to name
						try
							set sPath to variable named "session.path"
						end try
					end tell
				end try

				set matched to true
				if query is not "" then
					ignoring case
						if sName does not contain query then set matched to false
					end ignoring
				end if

				if matched then
					set subt to "Window " &amp; wIdx &amp; " · Tab " &amp; tIdx
					if sPath is not "" then set subt to subt &amp; " · " &amp; sPath
					set itemJSON to "{\"title\":\"" &amp; my escapeJSON(sName) &amp; "\",\"subtitle\":\"" &amp; my escapeJSON(subt) &amp; "\",\"arg\":\"" &amp; wid &amp; ":" &amp; tIdx &amp; "\"}"
					set end of itemsJSON to itemJSON
				end if
			end repeat
		end repeat
	end tell

	if (count of itemsJSON) is 0 then
		set itemsJSON to {"{\"title\":\"No matching iTerm tabs\",\"valid\":false}"}
	end if

	set {tid, AppleScript's text item delimiters} to {AppleScript's text item delimiters, ","}
	set joined to itemsJSON as text
	set AppleScript's text item delimiters to tid

	return "{\"items\":[" &amp; joined &amp; "]}"
end run
APPLESCRIPT
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search iTerm tabs by title</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>74ECA39D-12D3-4CD6-B2BD-73D61B3C0E16</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash
# Alfred Run Script: focus a specific iTerm2 window/tab.
# Receives "$1" as "&lt;windowId&gt;:&lt;tabIndex&gt;" (the arg produced by filter.sh).
arg="$1"
winId="${arg%%:*}"
tabIndex="${arg##*:}"

osascript - "$winId" "$tabIndex" &lt;&lt;'APPLESCRIPT'
on run argv
  set winId to (item 1 of argv) as integer
  set tabIdx to (item 2 of argv) as integer
  tell application "iTerm2"
    activate
    set targetWindow to window id winId
    select targetWindow
    set targetTab to tab tabIdx of targetWindow
    select targetTab
  end tell
end run
APPLESCRIPT
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5D9CD256-8657-4FEB-89F1-28522DFAD7A0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>iTerm Tab Switcher

Type "itw" followed by (part of) a tab's title to search every open iTerm2 window/tab, then press Enter to bring that exact tab to the front.</string>
	<key>uidata</key>
	<dict>
		<key>5D9CD256-8657-4FEB-89F1-28522DFAD7A0</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>74ECA39D-12D3-4CD6-B2BD-73D61B3C0E16</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
